
<div>
    @if (Conteudo1 == null)
    {
        <div class="alert-danger" style="padding:15px">
            <span>
                <i class="oi oi-x text-danger"></i>
                parece que algo deu errado
            </span>
        </div>
    }
    else
    {
        @Conteudo1
    }
</div>
<div>
    @if (Conteudo2 == null)
    {
        <div class="alert-danger" style="padding:15px">
            <span>
                <i class="oi oi-x text-danger"></i>
                parece que algo deu errado
            </span>
        </div>
    }
    else
    {
        @Conteudo2
    }
</div>



@code {
    [Parameter] public RenderFragment Conteudo1 { get; set; }
    [Parameter] public RenderFragment Conteudo2 { get; set; }

}
